body a {
  text-decoration: none;
  color: #7d7c7c;
}

body a:hover {
  text-decoration: none;
  color: #707070;
}

body .text-color-white {
  color: white;
}

body .w-200px {
  width: 200px !important;
}

body .h-200px {
  height: 200px !important;
}

body .flex {
  display: flex;
}

body .flex-align-center {
  align-items: center;
}

body .margin-0 {
  margin: 0;
}



body .justify-end-center {
  justify-content: flex-end;
  align-items: center;
}

body .justify-center {
  justify-content: center;
}

body .justify-between {
  justify-content: space-between;
}

body .justify-evenly {
  justify-content: space-evenly;
}

body .flex-grow-1 {
  flex-grow: 1;
}

body .flex-grow-2 {
  flex-grow: 2;
}

body .flex-grow-2 {
  flex-grow: 3;
}

body .pad-5 {
  padding: 5px;
}

body .pad-0-10 {
  padding: 0 10px;
}

body .pad-10 {
  padding: 10px;
}

body .pad-20 {
  padding: 20px;
}

body .margin-bottom-20 {
  margin-bottom: 20px;
}

body .margin-bottom-40 {
  margin-bottom: 40px;
}

body .margin-top-20 {
  margin-top: 20px;
}

body .margin-right-20 {
  margin-right: 20px;
}

body .margin-0-20 {
  margin: 0 20px;
}

body .margin-0-10 {
  margin: 0 10px;
}

body .font-size-15 {
  font-size: 15px;
}

body .font-size-20 {
  font-size: 20px;
}

body .text-center {
  text-align: center;
}

body .activities {
  height: 80px;
}

body .product {
  height: 120px;
  box-shadow: 0px 0px 1px 0px;
}

body .category {
  box-shadow: 2px 3px 4px -2px;
}

body .category p {
  margin: 0;
}

body .product p {
  margin: 0;
}

body .add-activity p {
  margin: 0;
}

body .edit-activity p {
  margin: 0;
}

body .brand p {
  margin: 0;
}

/* body .infodetail.active{
    display: block;
}
body .infodetail{
    display: none;
} */

body .brand,
body .month_detail {
  box-shadow: 1px 1px
}

body .month_report {
  text-align: center;
  object-fit: cover;
  /* height: 100px; */
  box-shadow: 2px 2px 6px 0px;
}

body .dropdown {
  height: 0;
}

body .dropdown.is-dropped {
  height: auto;
  transition: all 0.4s linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .background-darkgreen {
  background-color: #00bfa5;
}

body .background-darkorange {
  background-color: #ee4d2d;
}

body .voucher_item {
  position: relative;
  cursor: pointer;
}

body .voucher_item p {
  margin: 0;
}

body .voucher_item .voucher_item-img {
  min-width: 126px;
  max-width: 126px;
  height: 126px;
}

body .voucher_item .voucher_item-img:hover .voucher_item-icon {
  transform: translateX(25px) rotate(360deg);
  transition: all 0.6s ease;
}

body .voucher_item .voucher_item-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  transform: translateX(0);
  transition: all 0.6s ease;
}

body #dataTable_filter {
  float: right;
}
.rdw-image-imagewrapper img{
  width: 100% !important;
}

.justify-content-center {
  justify-content: center!important;
}
.d-flex {
  display: flex!important;
}
.text-gray-350[href]:hover, .text-gray-400 {
  color: #909090!important;
}
.pagination {
  margin-bottom: 0;
  font-weight: 500;
}
.pagination-sm, .table tbody th, .table thead th {
  font-size: .9375rem;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.text-gray-350[href]:hover, .text-gray-400 {
  color: #909090!important;
}
.dataTables_filter{
  float: right !important;
}
